DVDProfilerXML/3.8.1/COOs381.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="COOs" type="CountryOfOriginList" />
  <xs:complexType name="CountryOfOriginList">
    <xs:sequence>
      <xs:element name="COO" type="CountryOfOriginEntry" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountryOfOriginEntry">
    <xs:attribute name="ID" type="xs:int"  use="required" />
    <xs:attribute name="Desc" type="xs:string" use="required" />
    <xs:attribute name="Legacy" type="xs:boolean" use="optional "/>
  </xs:complexType>
</xs:schema>